@page "/"
@using Notebook.Components
@using Notebook.Shared.Components
@using Notebook.Data
@using Notebook.Shared
<div>
    @if (CaseNotes != null)
    {
        foreach (var caseNote in CaseNotes)
        {
            <div class="row">
                <CaseNoteCom CaseNote="caseNote" OnCaseNoteComplete ="CaseNoteComplete"></CaseNoteCom>
            </div>
        }
    }
    else
    {
        <div class="row">
            Ничего не найдено
        </div>
    }
</div>

@code{

    [Parameter]
    public IEnumerable<CaseNote> CaseNotes { get; set; }

    [Inject]
    public CaseNoteService CaseNoteService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CaseNotes = await CaseNoteService.GetCaseNotes();
    }

    protected void CaseNoteComplete(CaseNote cs)
    {
        CaseNoteService.MakeComplete(cs.Id);
        CaseNotes = CaseNoteService.GetCaseNotes().Result;
        StateHasChanged();
    }

}
