@page "/"
@using Notebook.Components
@using Notebook.Data
@using Notebook.Shared
@inject CaseNoteService caseNoteService
<div class="container">
    <h1>Hello, world!</h1>
    <div class="row">
        <div class="col">
            @counterFromDb
        </div>
        <div class="col">
            <button class="alert" value="123" @onclick="ToDb"></button>
        </div>
    </div>
    <div class="row">
        <p>@FirstRecord.Id</p>
        <p>@FirstRecord.Description</p>
        <p>@FirstRecord.CompleteDate</p>
        <p>@FirstRecord.IsComplete</p>
    </div>
</div>

@code{

    private String counterFromDb = "";

    [Parameter]
    public CaseNote FirstRecord { get; set; } = new CaseNote(12);

    protected override async Task OnInitializedAsync()
    {
        var collection = await caseNoteService.GetCaseNotes();
        FirstRecord = await Task.FromResult(collection.First());
    }

    public void ToDb()
    {
        var recordFromDB = caseNoteService.GetCaseNotes();
        InvokeAsync(StateHasChanged);
    }

}
