@if (DropDownValues != null )
{
    <div class="row" style="padding-top:10px">
        <div class="col-md-4">
            <select class="form-control" @onchange="SelectElement">
                <option value="0">@PlaceHolder</option>
                @foreach (var entity in DropDownValues)
                {
                    <option value="@entity.Key">
                        @entity.Value
                    </option>
                }
            </select>
        </div>
        <p>@DDKey</p>
    </div>
}
@code {
    [Parameter]
    public IDictionary<int, String> DropDownValues { get; set; }
    [Parameter]
    public String PlaceHolder { get; set; }



    [Parameter]
    public EventCallback<(int, String)> OnValueChanged { get; set; }

    [Parameter]
    public EventCallback<IDictionary<int, String>> DropDownValuesChanged { get; set; }

    private String DDValue;
    private int DDKey;

    public Task SelectElement(ChangeEventArgs e)
    {
        DDKey = Int32.Parse(e.Value.ToString());
        DropDownValues.TryGetValue(DDKey, out DDValue);

        return OnValueChanged.InvokeAsync((DDKey, DDValue));
    }
}
