@page "/develop/components"
@using Notebook.Shared.Components
@using Notebook.Examples


<div class="row text-md-center">
    <div class="col justify-content-center"><h3>Components</h3></div>
</div>
<div class="row text-md-center">
    <div class="col justify-content-center"><h4>DropDownBase</h4></div>
</div>
<DropDownBase OnValueChanged="SelectKey" Placeholder=@PlaceHolder @bind-DropDownValues="DropDownValues"></DropDownBase>
<div class="row">
    <div class="col">
        Значение ключа: @key
    </div>
</div>

@code {
    [Inject]
    private ExampleService ExampleService { get; set; }

    [Parameter]
    public IDictionary<int, String> DropDownValues { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DropDownValues = await ExampleService.InitExampleDictionary();
    }

    private int? key;
    private String PlaceHolder = "---Выберите---";

    protected void SelectKey((int, String) result)
    {
        key = result.Item1;
    }
}
