@using Notebook.Data

<div class="col-8">@CaseNote.Description</div>
@if (!CaseNote.IsComplete)
{

    <div class="col-4">
        <button class="btn btn-dark" @onclick="() => MakeCaseNoteComplete()">Выполнить</button>
    </div>
}
@code {
    [Parameter]
    public CaseNote CaseNote { get; set; }

    [Inject]
    public CaseNoteService CaseNoteService { get; set; }

    [Parameter]
    public EventCallback<CaseNote> OnCaseNoteComplete { get; set; }

    private void MakeCaseNoteComplete()
    {
        OnCaseNoteComplete.InvokeAsync(CaseNote);
    }

}
